
<div class="container">

  <nav class="navbar">
    <h5>Nova Sala</h5>
  </nav>

  <form action="" [formGroup]="salaForm">

    <div class="row mb-3">
      <div class="col-3">
        <label for="identificador" class="form-label">Identificador</label>
        <input type="text" class="form-control" id="identificador" formControlName="identificador" placeholder="Ex.: A1">

        <div *ngIf="campoInvalido('identificador')" class="containerError">
          <span>Campo é obrigatório.</span>
        </div>
      </div>

      <div class="col-2">
        <label for="bloco" class="form-label">Bloco</label>
        <input type="text" class="form-control" id="bloco" formControlName="bloco">

        <div *ngIf="campoInvalido('bloco')" class="containerError">
          <span>Campo obrigatório.</span>
        </div>
      </div>

      <div class="col-2">
        <label for="capacidade" class="form-label">Capacidade</label>
        <input type="number" min="0" class="form-control" id="capacidade" formControlName="capacidade">

        <div *ngIf="campoInvalido('capacidade')" class="containerError">
          <span *ngIf="capacidade.errors?.required">Campo obrigatório.</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <a class="btn btn-primary btn-sm" routerLink="/vestibulares/{{vestibularUUID}}/salas"><< Voltar</a>
      </div>
      <div class="col-2 d-flex flex-row-reverse">
        <button type="submit" class="btn btn-success btn-sm" (click)="editar()">Salvar</button>
      </div>
    </div>
  </form>
</div>
