<h4>Listagem de Vestibulares</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Data Início</th>
            <th scope="col">Data Fim</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of listaVestibulares; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ obj.dataInicio | date:'dd/MM/YYYY' }}</td>
            <td>{{ obj.dataFim | date:'dd/MM/YYYY' }}</td>
            <td>
                <button class="btn btn-warning btn-sm" >Editar</button>
                &nbsp;
                <button class="btn btn-secondary btn-sm">Adicionar Sala</button>
            </td>
        </tr>
    </tbody>
</table>