
<div class="container">

  <nav class="navbar">
    <h5>Vestibulares</h5>
    <a class="btn btn-success btn-sm my-4" routerLink="/vestibulares/novo">Novo Vestibular</a>
  </nav>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Data Início</th>
      <th scope="col">Data Fim</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let obj of listaVestibulares; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ obj.dataInicio | date:'dd/MM/YYYY' }}</td>
      <td>{{ obj.dataFim | date:'dd/MM/YYYY' }}</td>
      <td>
        <button class="btn btn-warning btn-sm" (click)="editar(obj)">Editar</button>
        &nbsp;
        <button class="btn btn-danger btn-sm" (click)="excluir(obj.vestibularUUID)">Excluir</button>
        &nbsp;
        <a class="btn btn-secondary btn-sm" routerLink="/vestibulares/{{obj.vestibularUUID}}/salas">Salas</a>
        &nbsp;
        <a class="btn btn-secondary btn-sm" routerLink="/vestibulares/{{obj.vestibularUUID}}/cursos">Cursos</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
