
<div class="container">

  <nav class="navbar">
    <h5>Cursos</h5>
    <a class="btn btn-success btn-sm my-4" routerLink="/vestibulares/{{vestibularUUID}}/cursos/novo">Novo Curso</a>
  </nav>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">nome</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let obj of cursos; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ obj.nome }}</td>
      <td>
        <button class="btn btn-warning btn-sm me-3" (click)="editar(obj)">Editar</button>

        <button class="btn btn-danger btn-sm me-3" (click)="excluir(obj.cursoUUID)">Excluir</button>

        <button class="btn btn-secondary btn-sm"
                routerLink="/vestibulares/{{this.vestibularUUID}}/cursos/{{obj.cursoUUID}}/candidatos">Candidatos</button>
      </td>
    </tr>
    </tbody>
  </table>

  <nav class="navbar">
    <a class="btn btn-primary btn-sm my-4" routerLink="/vestibulares"><< Voltar</a>
  </nav>
</div>
