/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.containerError {
    color: red;
    font-size: 14px;
}

form label {
    color: rgb(6, 4, 27);
    font-weight: 600;
}

.btn-primary {
    color: #fff !important;
    background-color: #2199e8 !important;
    border-color: #2199e8 !important;
}