
<div class="container">

  <nav class="navbar">
    <h5>Novo Vestibular</h5>
  </nav>

  <form action="" [formGroup]="vestibularForm">
    <div class="row mb-4">
      <div class="col-2">
        <label for="dataInicio" class="form-label">Data Início</label>
        <input type="date" class="form-control" id="dataInicio" formControlName="dataInicio">

        <div *ngIf="campoInvalido('dataInicio')" class="containerError">
          <span>Campo obrigatório.</span>
        </div>
      </div>

      <div class="col-2">
        <label for="dataFim" class="form-label">Data Fim</label>
        <input type="date" class="form-control" id="dataFim" formControlName="dataFim">

        <div *ngIf="campoInvalido('dataFim')" class="containerError">
          <span>Campo obrigatório.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <a class="btn btn-primary btn-sm" routerLink="/vestibulares"><< Voltar</a>
      </div>
      <div class="col-2 d-flex flex-row-reverse">
        <button type="submit" class="btn btn-success btn-sm" (click)="salvar()">Salvar</button>
      </div>
    </div>
  </form>
</div>
